* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body{
    font-weight: normal;
}

header,form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

form hr{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    font-size: 1.5rem;
}

form{
    height: 30vh;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.green-text{
    margin-bottom: 10px;
    color: rgb(7, 160, 65)
}

.head{
    width: 65vw;
    display: flex;
    justify-content: center;
}

.input{
    width: 65vw;
    display: flex;
    justify-content: center;
}

label{
    margin-right: 7px;
}

.note-head{
    flex: 1;
    margin:0;
    padding: 7px;
    font-size: 1.15rem;
}

.note-input{
    flex: 1;
    height: 55px;
    justify-content: flex-start;
    margin: 0;
    padding: 7px;
    font-size: 1.15rem;
}

.add-note-button{
    font-size: 1.15rem;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    width: 6rem;
    background:rgba(7, 160, 33, 0.75);
    color: white;
    margin-top: 0.9rem;

}

.add-note-button:hover{
    background: rgb(88, 161, 3, 0.9)
}

.output-div{
    margin-top: 2.5rem;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;

    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    column-gap: 35px;
    row-gap: 20px;

}

.new-note{
    box-sizing: border-box;
    height: 140px;
    padding: 0 0 0 8px;

    border: 0.5px solid gray;
    border-radius: 5px;
    text-decoration-color: none;
}

.bold{
    font-weight: bold;
}

.view-detail-btn{
    background: rgba(20, 58, 230, 0.75);
    color: white;
    border: none;
    border-radius: 4px;
    height: 2rem;
    font-size: 1rem;
    margin-top: 8px;
}

.view-detail-btn:hover{
    background: rgba(20, 58, 230, 0.9);
}

.hidden-text{
    margin: 0 15px 0 0;
    height: 37px;
    overflow: hidden;
    max-width: 40ch;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}